@charset "utf-8";

/*
*
* - - - - - - -
*
* VSCode: https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments
* Lang: ru_RU
* Команда Lost Summer Time - vk.com/lost.summer.time
* В будущем vk.com/lostsummertime
* Главный в команде NiktoX2 - vk.com/niktox2
* Версия - **.03.2023
* Дата - **.03.2023
*
* - - - - - - -
* Root
* - - - - - - -
*
*/

:root {
	/* * Мучаем себя до конца, хоть потом и забудется,
	* Ты же помнишь что твоя память чистит себя
	* Многое же не нужно и не требуется */
	/* * 12.05.2003 * */
	--niktox2: #120503;
	/* * 14.10.2004 (*.12.2021-*.*.2022) * */
	/* * Первая, был не прав, ошибся, прости * */
	--niktox2-Sorry-it-did-not-work-out: #141004;
}

:root {
	/* * Цвет * */
	--white: rgb(255, 255, 255); /* fff */
	--gray: rgb(128, 128, 128); /* 808080 */
	--black: rgb(0, 0, 0); /* 000 */
	--dark: rgb(32, 32, 32); /* 202020 */
	/* позже рассмотреть на возможное удаление */
	--rgb42: rgb(42, 42, 42); /* 2a2a2a */
	--rgb52: rgb(52, 52, 52); /* 343434 */
	--rgb62: rgb(62, 62, 62); /* 3e3e3e */
	--rgb150: rgb(150, 150, 150); /* 969696 */
}

:root {
	/* * Размер текста * */
	--default-font-size-small: 8px;
	--default-font-size-little: 12px;
	--default-font-size: 16px;
	--default-font-size-h6: 20px;
	--default-font-size-h5: 24px;
	--default-font-size-h4: 28px;
	--default-font-size-h3: 32px;
	--default-font-size-h2: 36px;
	--default-font-size-h1: 40px;
}

:root {
	/* * --- * */
	--adaptive-signature: 12px;
	--adaptive-p: 16px;
	--adaptive-h6: 16px;
	--adaptive-h5: 20px;
	--adaptive-h4: 24px;
	--adaptive-h3: 28px;
	--adaptive-h2: 32px;
	--adaptive-h1: 36px;
	--adaptive-increase-by: 3;
	--adaptive-divide: 2160;

	/* * Адаптивно * */
	--default-adaptive-signature: calc( 12px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
	--default-adaptive-font: calc( 16px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
	--default-adaptive-font-h6: calc( 16px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
	--default-adaptive-font-h5: calc( 20px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
	--default-adaptive-font-h4: calc( 24px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
	--default-adaptive-font-h3: calc( 28px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
	--default-adaptive-font-h2: calc( 32px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
	--default-adaptive-font-h1: calc( 36px + var(--adaptive-increase-by) * ((100vw - 320px) / var(--adaptive-divide)) );
}

:root {
	/* * Начальные переменные * */
	--background: transparent;
	--background-hover: transparent;
	--color: transparent;
	--icon: transparent;

	/* * Начальные настройки * */
	--font-signature: var(--default-adaptive-signature);
	--font-size: var(--default-adaptive-font);
	--font-size-h6: var(--default-adaptive-font);
	--font-size-h5: var(--default-adaptive-font);
	--font-size-h4: var(--default-adaptive-font);
	--font-size-h3: var(--default-adaptive-font);
	--font-size-h2: var(--default-adaptive-font);
	--font-size-h1: var(--default-adaptive-font);
}

/*
*
* Root
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Тема
* - - - - - - -
* Авто
*
*/
@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark);
		--background-hover: var(--rgb62);
		--color: var(--white);
		--icon: var(--white);
	}

	*::selection {
		background-color: var(--color);
		color: var(--background);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--background: var(--white);
		--background-hover: var(--rgb62);
		--color: var(--black);
		--icon: var(--black);
	}

	*::selection {
		background-color: var(--color);
		color: var(--background);
	}
}

/* * Белая тема * */
html[data-theme="white"] {
	--background: var(--white);
	--background-hover: var(--rgb62);
	--color: var(--black);
	--icon: var(--black);
}
html[data-theme="white"] *::selection {
	background-color: var(--color);
	color: var(--background);
}

/* * Темная тема * */
html[data-theme="dark"] {
	--background: var(--dark);
	--background-hover: var(--rgb62);
	--color: var(--white);
	--icon: var(--white);
}
html[data-theme="dark"] *::selection {
	background-color: var(--color);
	color: var(--background);
}

/* * Черная тема * */
html[data-theme="black"] {
	--background: var(--black);
	--background-hover: var(--rgb62);
	--color: var(--white);
	--icon: var(--white);
}
html[data-theme="black"] *::selection {
	background-color: var(--color);
	color: var(--background);
}

/* * Черная тема+ * */
html[data-theme="black-gray"] {
	--background: var(--black);
	--background-hover: var(--rgb62);
	--color: var(--gray);
	--icon: var(--gray);
}
html[data-theme="black-gray"] *::selection {
	background-color: var(--color);
	color: var(--background);
}

/*
*
* Тема
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Для всех объектов
* - - - - - - -
*
*/

*, ::after, ::before {
	margin: 0;
	border-width: 0;
	border-style: solid;
	padding: 0;

	box-sizing: border-box;

	font-family: "Roboto", "Ubuntu", "Arial", sans-serif;
	font-weight: normal;
	font-size: var(--default-adaptive-font);
	color: var(--color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	outline: none;
	-webkit-tap-highlight-color: transparent;

	list-style: none;
	text-decoration: none;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

/*
*
* Для всех объектов
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Объекты
* - - - - - - -
*
*/

html, body { min-width: 320px; min-height: 320px }

body { background-color: var(--background); justify-content: center; line-height: 1.3 }

body, body * { display: flex }

header, footer { padding: 16px 0 }

h1 { font-size: var(--default-adaptive-font-h1) }
h2 { font-size: var(--default-adaptive-font-h2) }
h3 { font-size: var(--default-adaptive-font-h3) }
h4 { font-size: var(--default-adaptive-font-h4) }
h5 { font-size: var(--default-adaptive-font-h5) }
h6 { font-size: var(--default-adaptive-font-h6) }

h1, h2, h3, h4, h5, h6, .bold { font-weight: bold }

a { width: 100%; align-items: center }
a > * { z-index: -1 }

span { align-items: center }

ol { counter-reset: li }
ol > li > *:not(ol):before {
	margin-right: 12px;
	counter-increment: li;
	content: counters(li, ".") ".";
}

button { background-color: transparent; cursor: pointer }

input { cursor: pointer }

textarea {
	width: 100%;
	border-width: 1px;
	padding: 0.5rem;
	background: transparent;
	tab-size: 3;
	resize: none;
}

svg { fill: var(--icon) }

img { object-fit: cover }

script, style { display: none }

* > i { z-index: -1; }

/*
*
* Объекты
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Class and Data
* - - - - - - -
*
*/

/* * Display * */
.hide, *[hide] { display: none }

/* * Z - Index * */
.z-1 { z-index: 1 }
.z-10 { z-index: 10 }
.z-20 { z-index: 20 }
.z-30 { z-index: 30 }
.z-40 { z-index: 40 }
.z-50 { z-index: 50 }
.z-60 { z-index: 60 }
.z-70 { z-index: 70 }
.z-80 { z-index: 80 }
.z-90 { z-index: 90 }
.z-100 { z-index: 100 }
.z-1000 { z-index: 1000 }

/* * Размеры * */
.w, .wList > * { width: 100% }
.wv { width: 100vw }

.h, .hList > * { height: 100% }
.hv { height: 100vh }

.wh { width: 100%; height: 100% }
.whv { width: 100vw; height: 100vh }

.wMax { width: max-content }
.hMax { height: max-content }

.wMin { width: min-content }
.hMin { height: min-content }

.wHMax { width: 100%; height: max-content }

*[data-sizeText="0.5rem"] { font-size: var(--default-font-size-small) }
*[data-sizeText="0.75rem"] { font-size: var(--default-font-size-little) }

/* * Цвет * */
*[data-background="theme"] { background-color: var(--background) }
*[data-background="42"], *[data-background="2a2a2a"] { background-color: rgb(42, 42, 42) }
*[data-background="42"], *[data-background="222222"] { background-color: #222222 }
*[data-color="128"], *[data-color="808080"] { color: rgb(128, 128, 128) }

/* * Padding * */
.p { padding: 8px }
.p-x2 { padding: 16px }
.p-x3 { padding: 24px }
.p-x4 { padding: 32px }

.pt { padding-top: 8px }
.pt-x2 { padding-top: 16px }
.pt-x3 { padding-top: 24px }
.pt-x4 { padding-top: 32px }

.pr { padding-right: 8px }
.pr-x2 { padding-right: 16px }
.pr-x3 { padding-right: 24px }
.pr-x4 { padding-right: 32px }

.pb { padding-bottom: 8px }
.pb-x2 { padding-bottom: 16px }
.pb-x3 { padding-bottom: 24px }
.pb-x4 { padding-bottom: 32px }

.pl { padding-left: 8px }
.pl-x2 { padding-left: 16px }
.pl-x3 { padding-left: 24px }
.pl-x4 { padding-left: 32px }

.ptb { padding-top: 8px; padding-bottom: 8px }
.ptb-x2 { padding-top: 16px; padding-bottom: 16px }
.ptb-x3 { padding-top: 24px; padding-bottom: 24px }
.ptb-x4 { padding-top: 32px; padding-bottom: 32px }

.ptb-list > * { padding-top: 8px; padding-bottom: 8px }

.prl { padding-right: 8px; padding-left: 8px }
.prl-x2 { padding-right: 16px; padding-left: 16px }
.prl-x3 { padding-right: 24px; padding-left: 24px }
.prl-x4 { padding-right: 32px; padding-left: 32px }

*[data-pTopBottomList="0.5rem"] > * { padding-top: 0.5rem; padding-bottom: 0.5rem }
*[data-pRightLeftList="0.5rem"] > * { padding-right: 0.5rem; padding-left: 0.5rem }

*[data-pTopBottomList="1rem"] > * { padding-top: 1rem; padding-bottom: 1rem }
*[data-pRightLeftList="1rem"] > * { padding-right: 1rem; padding-left: 1rem }

/* * Border * */
.br { border-radius: 8px }
.br-x2 { border-radius: 16px }
.br-x3 { border-radius: 24px }
.br-x4 { border-radius: 32px }

*[data-borderRadius="0.5rem"] { border-radius: 0.5rem }
*[data-borderRadiusTopLeft="0.5rem"] { border-top-left-radius: 0.5rem }
*[data-borderRadiusTopRight="0.5rem"] { border-top-right-radius: 0.5rem }
*[data-borderRadiusBottomRight="0.5rem"] { border-bottom-right-radius: 0.5rem }
*[data-borderRadiusBottomLeft="0.5rem"] { border-bottom-left-radius: 0.5rem }

*[data-borderRadius="1rem"] { border-radius: 1rem }
*[data-borderRadiusTopLeft="1rem"] { border-top-left-radius: 1rem }
*[data-borderRadiusTopRight="1rem"] { border-top-right-radius: 1rem }
*[data-borderRadiusBottomRight="1rem"] { border-bottom-right-radius: 1rem }
*[data-borderRadiusBottomLeft="1rem"] { border-bottom-left-radius: 1rem }

/* * Margin * */
.m { margin: 8px }
.m-x2 { margin: 16px }
.m-x3 { margin: 24px }
.m-x4 { margin: 32px }

.mt { margin-top: 8px }
.mt-x2 { margin-top: 16px }
.mt-x3 { margin-top: 24px }
.mt-x4 { margin-top: 32px }

.mr { margin-right: 8px }
.mr-x2 { margin-right: 16px }
.mr-x3 { margin-right: 24px }
.mr-x4 { margin-right: 32px }

.mb, .mb-list > * { margin-bottom: 8px }
.mb-x2, .mb-x2-list > * { margin-bottom: 16px }
.mb-x3, .mb-x3-list > * { margin-bottom: 24px }
.mb-x4, .mb-x4-list > * { margin-bottom: 32px }

.ml { margin-left: 8px }
.ml-x2 { margin-left: 16px }
.ml-x3 { margin-left: 24px }
.ml-x4 { margin-left: 32px }

.mtb { margin-top: 8px; margin-bottom: 8px }
.mtb-x2 { margin-top: 16px; margin-bottom: 16px }
.mtb-x3 { margin-top: 24px; margin-bottom: 24px }
.mtb-x4 { margin-top: 32px; margin-bottom: 32px }

.mrl { margin-right: 8px; margin-left: 8px }
.mrl-x2 { margin-right: 16px; margin-left: 16px }
.mrl-x3 { margin-right: 24px; margin-left: 24px }
.mrl-x4 { margin-right: 32px; margin-left: 32px }

/* * Position * */
.relative { position: relative }
.absolute { position: absolute }
.fixed { position: fixed }

/* * Flex - Direction * */
.fColumn, .fColumnList > * { flex-direction: column }

/* * Justify - Content * */
.jContent-center { justify-content: center }
.jContent-flexStart { justify-content: flex-start }
.jContent-flexEnd { justify-content: flex-end }
.jContent-spaceBetween { justify-content: space-between }
.jContent-spaceAround { justify-content: space-around }
.jContent-spaceEvenly { justify-content: space-evenly }

/* Положение текста */
.aItem-left { align-items: left }
.aItem-center { align-items: center }
.aItem-right { align-items: right }
.aItem-flexEnd { align-items: flex-end }

*[data-alignItems="left"] { align-items: left }
*[data-alignItems="center"] { align-items: center }
*[data-alignItems="right"] { align-items: right }
*[data-alignItems="flex-end"] { align-items: flex-end }

/* Положение текста */
*[data-textAlign="left"] { text-align: left }
*[data-textAlign="center"] { text-align: center }
*[data-textAlign="right"] { text-align: right }
*[data-textAlign="end"] { text-align: end }

/* Cursor */
*[cursor="pointer"],
*[data-cursor="pointer"] { cursor: pointer }

/* rotate */
*[data-rotate="180"] { rotate: 180deg }
*[data-rotate="-180"] { rotate: -180deg }
*[data-rotate="120"] { rotate: 120deg }
*[data-rotate="-120"] { rotate: -120deg }
*[data-rotate="90"] { rotate: 90deg }
*[data-rotate="-90"] { rotate: -90deg }
*[data-rotate="60"] { rotate: 60deg }
*[data-rotate="-60"] { rotate: -60deg }
*[data-rotate="45"] { rotate: 45deg }
*[data-rotate="-45"] { rotate: -45deg }
*[data-rotate="0"] { rotate: 0deg }

.oHidden { overflow: hidden }

/*
*
* Class
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Свои объекты
* - - - - - - -
*
*/
@media (hover: hover) {
	*[data-title] { position: relative }
	*[data-title]:hover:before {
		content: attr(data-title);
		width: max-content;
		border-radius: 8px;
		padding: 8px;
		position: absolute;
		top: 24px;
		left: -6%;
		background-color: var(--background);
		box-shadow: inset 0px 0px 6px 1px grey;
		z-index: 999;
		animation-duration: 1s;
		animation-name: title-opacity;
	}
	@keyframes title-opacity {
		from { opacity: 0 }
		89% { opacity: 0 }
		90% { opacity: 1 }
	}
}

/* SVG иконки */
.icon, .icon > svg { width: 24px; height: 24px }
.icon-x2, .icon-x2 > svg { width: 36px; height: 36px }
.icon-x3, .icon-x3 > svg { width: 48px; height: 48px }

/* Меню */
nav#menu > ul > li { align-items: center }
nav#menu > ul > li > a > span { user-select: none }

/* Select */
div#select * { user-select: none }
div#select > #option {
	margin-top: 8px;
	position: absolute;
	top: 100%;
	left: -4px;
}
div#select > #option * { width: 100% }
div#select > #option > * { padding: 4px }
div#select > #option > *:hover {
	border-radius: 6px;
	box-shadow: inset 0px 0px 4px 1px grey;
}

/* * Age Limitation * */
span[data-ageLimitation] {
	border-width: 1px;
	border-radius: 6px;
	padding: 4px;
}
span[data-ageLimitation]::before {
	height: 14px;
	font-size: 12px;
	content: attr(data-ageLimitation);
}

.signature {
	color: #808080;
	font-size: var(--font-signature);
}

/* * Лимит размера * */
*[data-limitSize="1200"] { width: clamp(200px, 95%, 1200px) }
*[data-limitSize="1300"] { width: clamp(200px, 95%, 1300px) }

/* * Линия * */
.line {
	border-top-color: var(--color);
	border-top-width: 1px;
}

/* * - * */
.lineAnimate::before, .lineAnimate-list > *::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 0;
	border-top-width: 0;
	background-color: var(--color);
	transition: 0.6s ease-out;
}
.lineAnimate-list > * { position: relative }

.lineAnimate::before, .lineAnimate-list > *::before { height: 1px }
.lineAnimate:hover::before, .lineAnimate-list > *:hover::before { width: 100% }

.lineAnimate-off::before { height: 0 }

/*
*
* Свои объекты
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Scrollbar
* - - - - - - -
*
*/

@supports(scrollbar-width: thin) {
	html[data-scrollbar="lst-white"] * {
		scrollbar-width: thin;
		scrollbar-color: var(--color) transparent;
	}
}

html[data-scrollbar="lst-white"] *::-webkit-scrollbar { width: 1rem }

html[data-scrollbar="lst-white"] *::-webkit-scrollbar-thumb {
	border: transparent solid 5px;
	border-radius: 1rem;
	box-shadow: inset 0 0 10px 10px var(--color);
}

html[data-scrollbar="lst-white"] *::-webkit-scrollbar-corner {
	width: 0;
	height: 0;
	background: transparent;
}

/*
*
* Scrollbar
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Cursors
* - - - - - - -
*
*/

@media (hover: hover) {
	html[data-cursor="jepriCreations"] *
	{ cursor: url("/assets/cursor/jepriCreations/light/pointer.cur"), default }

	html[data-cursor="jepriCreations"] *[data-cursor="pointer"],
	html[data-cursor="jepriCreations"] a,
	html[data-cursor="jepriCreations"] button,
	html[data-cursor="jepriCreations"] nav > ul > li,
	html[data-cursor="jepriCreations"] .lineAnimate[data-brSize$="px"],
	html[data-cursor="jepriCreations"] #select *
	{ cursor: url("/assets/cursor/jepriCreations/light/link.cur"), pointer }


	html[data-theme="white"][data-cursor="jepriCreations"] *
	{ cursor: url("/assets/cursor/jepriCreations/dark/pointer.cur"), default }

	html[data-theme="white"][data-cursor="jepriCreations"] *[data-cursor="pointer"],
	html[data-theme="white"][data-cursor="jepriCreations"] a,
	html[data-theme="white"][data-cursor="jepriCreations"] button,
	html[data-theme="white"][data-cursor="jepriCreations"] nav > ul > li,
	html[data-theme="white"][data-cursor="jepriCreations"] .lineAnimate[data-brSize$="px"],
	html[data-theme="white"][data-cursor="jepriCreations"] #select *
	{ cursor: url("/assets/cursor/jepriCreations/dark/link.cur"), pointer }
}

/*
*
* Cursors
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Медиа
* - - - - - - -
*
*/

@media screen and (max-width: 375px) {
	footer { flex-direction: column; }
}

/*
*
* Медиа
* - - - - - - -
* End
* - - - - - - -
*
*/

/*
*
* - - - - - - -
* Шрифты
* - - - - - - -
*
	https://gwfh.mranftl.com/fonts/roboto?subsets=cyrillic,cyrillic-ext,latin,latin-ext
	Last modified 2022-09-22 (v30)
*
*/

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal; /* 400 */
	src:
		local("Roboto Regular"),
		local("Roboto-Regular"),
		url("/assets/fonts/roboto/400/normal/roboto.woff2") format("woff2"), /* Super Modern Browsers | Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/fonts/roboto/400/normal/roboto.woff") format("woff"), /* Modern Browsers | Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		url("/assets/fonts/roboto/400/normal/roboto.ttf") format("truetype"); /* Safari, Android, iOS */
	font-display: fallback;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: normal;
	src:
		local("Roboto Italic"),
		local("Roboto-Italic"),
		url("/assets/fonts/roboto/400/italic/roboto.woff2") format("woff2"),
		url("/assets/fonts/roboto/400/italic/roboto.woff") format("woff"),
		url("/assets/fonts/roboto/400/italic/roboto.ttf") format("truetype");
	font-display: fallback;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold; /* 700 */
	src:
		local("Roboto Bold"),
		local("Roboto-Bold"),
		url("/assets/fonts/roboto/700/normal/roboto.woff2") format("woff2"),
		url("/assets/fonts/roboto/700/normal/roboto.woff") format("woff"),
		url("/assets/fonts/roboto/700/normal/roboto.ttf") format("truetype");
	font-display: fallback;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: bold;
	src:
		local("Roboto Bold Italic"),
		local("Roboto-Bold-Italic"),
		url("/assets/fonts/roboto/700/italic/roboto.woff2") format("woff2"),
		url("/assets/fonts/roboto/700/italic/roboto.woff") format("woff"),
		url("/assets/fonts/roboto/700/italic/roboto.ttf") format("truetype");
	font-display: fallback;
}

/*
*
	https://gwfh.mranftl.com/fonts/ubuntu?subsets=cyrillic,cyrillic-ext,latin,latin-ext
	Last modified 2022-09-22 (v20)
*
*/

@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: normal; /* 400 */
	src:
		local("Ubuntu Regular"),
		local("Ubuntu-Regular"),
		url("/assets/fonts/ubuntu/400/normal/ubuntu.woff2") format("woff2"),
		url("/assets/fonts/ubuntu/400/normal/ubuntu.woff") format("woff"),
		url("/assets/fonts/ubuntu/400/normal/ubuntu.ttf") format("truetype");
	font-display: fallback;
}
@font-face {
	font-family: "Ubuntu";
	font-style: italic;
	font-weight: normal;
	src:
		local("Ubuntu Regular Italic"),
		local("Ubuntu-Regular-Italic"),
		url("/assets/fonts/ubuntu/400/italic/ubuntu.woff2") format("woff2"),
		url("/assets/fonts/ubuntu/400/italic/ubuntu.woff") format("woff"),
		url("/assets/fonts/ubuntu/400/italic/ubuntu.ttf") format("truetype");
	font-display: fallback;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: bold; /* 700 */
	src:
		local("Ubuntu Bold"),
		local("Ubuntu-Bold"),
		url("/assets/fonts/ubuntu/700/normal/ubuntu.woff2") format("woff2"),
		url("/assets/fonts/ubuntu/700/normal/ubuntu.woff") format("woff"),
		url("/assets/fonts/ubuntu/700/normal/ubuntu.ttf") format("truetype");
	font-display: fallback;
}
@font-face {
	font-family: "Ubuntu";
	font-style: italic;
	font-weight: bold;
	src:
		local("Ubuntu Bold Italic"),
		local("Ubuntu-Bold-Italic"),
		url("/assets/fonts/ubuntu/700/italic/ubuntu.woff2") format("woff2"),
		url("/assets/fonts/ubuntu/700/italic/ubuntu.woff") format("woff"),
		url("/assets/fonts/ubuntu/700/italic/ubuntu.ttf") format("truetype");
	font-display: fallback;
}

/*
*
* Шрифты
* - - - - - - -
* End
* - - - - - - -
*
*/